trunk/ServerSide/Web References/HivaLogger/RemoteLoggerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
        xmlns:tns="http://tempuri.org/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        name="RemoteLoggerService" targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="http://localhost:7070/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="http://localhost:7070/Service1.svc?xsd=xsd1"
                        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ILoggerService_GetData_InputMessage">
        <wsdl:part name="parameters" element="tns:GetData"/>
    </wsdl:message>
    <wsdl:message name="ILoggerService_GetData_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetDataResponse"/>
    </wsdl:message>
    <wsdl:message name="ILoggerService_Log_InputMessage">
        <wsdl:part name="parameters" element="tns:Log"/>
    </wsdl:message>
    <wsdl:message name="ILoggerService_Log_OutputMessage">
        <wsdl:part name="parameters" element="tns:LogResponse"/>
    </wsdl:message>
    <wsdl:portType name="ILoggerService">
        <wsdl:operation name="GetData">
            <wsdl:input wsaw:Action="http://tempuri.org/ILoggerService/GetData"
                        message="tns:ILoggerService_GetData_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/ILoggerService/GetDataResponse"
                         message="tns:ILoggerService_GetData_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Log">
            <wsdl:input wsaw:Action="http://tempuri.org/ILoggerService/Log"
                        message="tns:ILoggerService_Log_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/ILoggerService/LogResponse"
                         message="tns:ILoggerService_Log_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_ILoggerService" type="tns:ILoggerService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetData">
            <soap:operation soapAction="http://tempuri.org/ILoggerService/GetData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Log">
            <soap:operation soapAction="http://tempuri.org/ILoggerService/Log" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RemoteLoggerService">
        <wsdl:port name="BasicHttpBinding_ILoggerService" binding="tns:BasicHttpBinding_ILoggerService">
            <soap:address location="http://localhost:7070/Service1.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>