trunk/ServerSide/Web References/HivaLogger/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://tempuri.org/">
    <xs:element name="GetData">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="value" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDataResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Log">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LogResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
</xs:schema>